/* Основний колір тексту #212121 */
/* Другорядний колір тексту #757575 */
/* Назва сайту #000000 */
/* При написканні #2196F3 */
/* Фон сайта #F5F5F5 */
/* Шапка #FFFFFF */
/* Секція 1 #2F303A */
/* Секція 2 #F5F5F5 */
/* Секція 3 #F5F4FA */
/* Футер #2F303A */

:root {
  --primery-web-color: #000000;
  --brand-text-color: #212121;
  --tittle-text-color: #757575;
  --background-color: #f5f5f5;
  --tittle-buttom-color: #2196f3;
  --container-hero-color: #ffffff;
  --content-section-color: #2f303a;
  --section-item-color: #f5f4fa;
  --section-footer-color: rgba(255, 255, 255, 0.6);
  --buttom-hero-color: #188ce8;
}

body {
  background-color: var(--container-hero-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}


.logo {
  color: var(--primery-web-color);

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo:hover,
.logo:focus {
  color: var(--tittle-buttom-color);
}

.logo-blue {
  color: var(--tittle-buttom-color);
}

.list {
  list-style: none;
}

.list-nav {
  color: var(--brand-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.list-nav:hover,
.list-nav:focus {
  color: var(--tittle-buttom-color);
}

.site-nav .list-nav.current {
  color: var(--tittle-buttom-color);
}

.site-info {
  color: var(--tittle-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-info:hover,
.site-info:focus {
  color: var(--tittle-buttom-color);
}

/* ----------------------------------Компанія------------------------------ */
/* -----------------------------------Секція 1---------------------------- */
.hero-section {
  background-color: var(--content-section-color);
}

.container-hero {
  color: var(--container-hero-color);

  font-weight: 900;
  text-align: center;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button-hero {
  background-color: var(--tittle-buttom-color);
  color: var(--container-hero-color);

  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.button-hero:hover,
.button-hero:focus {
  background-color: var(--buttom-hero-color);
  color: var(--container-hero-color);
}

/* ----------------------------------Секція 2------------------------*/
.containers {
  background-color: var(--background-color);
}

.excample {
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
}

.info-containers {
  color: var(--brand-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.info-business {
  color: var(--tittle-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.project-item {
  color: var(--brand-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

/* -------------------------Секція 3 ----------------------------*/
.item-section {
  background-color: var(--section-item-color);
}

.item-container {
  color: var(--brand-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

.item-web {
  color: var(--brand-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.item-profesional {
  color: var(--tittle-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}

/* -----------------------Футер------------------------------- */
.site-adr {
  background-color: var(--content-section-color);
  font-style: normal;

}

.footer-adr {
  font-style: normal;
}

.adr-site {
  color: var(--container-hero-color);

  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.adr-site:hover,
.adr-site:focus {
  color: var(--tittle-buttom-color);
}

.adr-blue {
  color: var(--tittle-buttom-color);
}

.adr-street {
  color: var(--container-hero-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;


}

.site-mail {
  color: var(--section-footer-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.site-mail:hover,
.site-mail:focus {
  color: var(--tittle-buttom-color);
}

.site-tel {
  color: var(--section-footer-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.site-tel:hover,
.site-tel:focus {
  color: var(--tittle-buttom-color);
}

/* ----------------------------Портфоліо-------------------------- */
.main-sections {
  background-color: var(--background-color);
}

.buttons {
  color: var(--brand-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.buttons:hover,
.buttons:focus {
  background-color: var(--tittle-buttom-color);
  color: var(--container-hero-color);
}